.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff; 
    border-bottom: 3px solid lightgray; 
    z-index: 10;
}

#img_twitch {
    height: 40px; 
}

#text_cat {
    font-size: 20px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: none;
    color: purple; 
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#search_bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white; 
    color: #000000; 
    width: 300px;
    height: 30px;
}

.auth-container {
    display: flex;
    align-items: center;
}

#box_login {
    border: 1px solid white;
    background-color: lightgray;
    padding: 7px;
}

#box_subscribe {
    border: 1px solid white;
    border-radius: 15px;
    background-color: purple;
    padding: 7px;
    color: white;
}

.account-image {
    height: 20px; 
    margin-left: 15px;
}

.lateral_menu {
    background-color: #efeff1;
    position: fixed;
    left: 0;
    top: 65px;          
    width: 200px;         
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    color: black;    
    border-left: 2px solid black;
    overflow-y: auto;
}

h5 {
    margin: 0; 
    color: black;
    font-size: 10px;
}



.channel_recom h5 {
    margin: 10px;
    font-weight: bold;
    justify-content: center;
    font-size: 13px;
}


.channel-info {
    display: flex;
    align-items: flex-start; 
    margin-top: 10px; 
    margin-bottom: 5px; 
    
}

.channel-info:hover {
    background-color: rgb(147, 147, 144);
}

.channel-image {
    width: 40px;              
    height: 40px;
    border-radius: 50%;       
    margin-right: 10px;
    margin-left: 10px;      
}

.channel-details {
    display: flex;
    flex-direction: column;  
}

.channel-name {
    padding-top: 5px;
    font-weight: bold;
    color: black;            
    margin: 0;                
    font-size: 14px;
}

.game-name {
    font-size: 12px;
    color: gray;              
    margin: 0;
}

.main-content {
    margin-left: 210px;
    padding: 20px;
    color: #333;
}

.categorie_channel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;   
    font-size: 22px; 
    font-weight: bold;   
}

.channel_game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c16c5;      
    padding: 10px 15px;            
    border-radius: 8px;             
    flex: 1 1 0; 
    max-width: 100%; 
    border: 1px solid #ccc;     
    color: white;
    font-style: bold;
    font-size: 15px;   
    min-width: 250px; 
}

.channel_game:hover {
    background-color: blueviolet;
}

.channel_game p {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.channel_game img {
    width: 60px;                    
    height: 60px;
}

.category_channel{
    display: flex;
    gap: 20px;
    font-size: 25px;
}

.category {
    color: purple;
    border-bottom: 3px solid purple;
}

.search_tag {
    margin-top: 20px;
}

#title_parcourir {
    font-size: 72px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    gap: 10px;
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    color: #333333;
    padding-top: 10px;
    margin: 0;
}

.viewer-count {
    font-size: 14px;
    color: #666666;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 1444px) {
    .head {
        flex-wrap: wrap; 
    }

    .lateral_menu {
        width: 150px; 
        padding: 10px 0;
        margin-top: 10px; 
    }

    .lateral_menu .channel_recom{
        display: none; 
    }


    .main-content {
        margin-left: 160px; 
        padding: 15px; 
    }

    .categorie_channel {
        flex-wrap: wrap; 
    }

    .channel_game {
        flex: 1 1 45%; 
        max-width: 45%; 
        margin: 10px 0;
    }

    #search_bar {
        width: 80%; 
        margin: 10px 0; 
    }

    #title_parcourir {
        font-size: 56px; 
    }

    .card-container {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media screen and (max-width: 762px) {
    .lateral_menu {
        width: 50px; 
        padding: 10px 0; 
        overflow: hidden; 
    }

    .lateral_menu .channel-info {
        flex-direction: column; 
        align-items: center; 
    }


    .lateral_menu .channel_recom{
        display: none; 
    }

    .lateral_menu .channel-details {
        display: none; 
    }


    

    .main-content {
        margin-left: 60px; 
        padding: 10px; 
    }

    .categorie_channel {
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .channel_game {
        flex: 1 1 45%; 
        max-width: 100%; 
        margin: 10px 0;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    #search_bar {
        width: 80%; 
        margin: 10px 0; 
    }

    #title_parcourir {
        font-size: 48px; 
    }
}

@media screen and (max-width: 480px) {
    .head {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .nav-link {
        font-size: 16px; 
        margin: 5px 0; 
    }

    #search_bar {
        width: 100%; 
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr); 
    }

    #img_account {
        height: 30px; 
    }
}

