* {margin: 0;padding: 0; box-sizing: border-box;}
/* Caroussel */

#main_caroussel {
  padding-left: 15px;
}

#carousel {
  display: flex;
  width: 40%;
  margin-top: 5%;
  margin-left: 38%;
  margin-bottom: 5%;
  box-shadow: 10px 5px 5px #e9e9e9;
}

.img1 {
  width: 730px;
  height: 250px;
}

.infos_carousel {
  max-width: 290px;
  display: flex;
}

.img_infos_caroussel {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.img_caroussel {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.img_fill_content {
  width: 100%;
  height: 100%;
}

#text_caroussel {
  margin: none;
}

.title {
  color: #772CE8;
  font-weight: bold;
}

.game_name {
  color: #772CE8;
  font-weight: 400;
}

.spectators {
  color: black;
  font-weight: 500;
}

#container_btn_caroussel{
  display: flex;
  width: 88%;
  align-items: center;
  justify-content: space-between;
}

.btn1, .btn2 {
  width: 40%;
  font-size: small;
  color: gray;
  font-weight: 700;
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}

/* Hero section */

.hero_section {
  margin-left: 240px;
  margin-top: 30px;
}

.container_movie {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.purple {
  color: #772CE8;
  font-weight: 900;
}

.container_img_section {
  width: 320px;
  margin-right: 5px;
}

.img_section {
  width: 100%;
  height: 100%;
}

.container_footer_movie {
  display: flex;
  width: 100%;
  align-items: center;
}

.line {
  border-color: gray;
  opacity: 0.1;
  width: 46%;
  height: 1px;
}

.display_more {
  min-width: 110px;
  padding-left: 10px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 14px;
}

.footer_infos_img {
  width: 15%;
  margin-right: 8px;
}

.img_footer_infos {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.container_footer_infos_movie {
  display: flex;
}

.title_footer_infos_movie {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.description_infos_movie {
  font-size: 14px;
  margin: 0;
  color: gray;
  padding-top: 2px;
}

.icon_svg {
  display: flex;
}

.btn_footer {
  margin-right: 8px;
  margin-top: 5px;
  width: 80px;
  border-radius: 10px;
  color: gray;
  border: none;
  padding: 5px;
}



/* MEDIA*/

@media screen and (min-width: 961px) and (max-width: 1024px) {
  .img1 {
    width: 530px;
    height: 300px;
  }

  #main_caroussel {
    display: none;
  }

  #carousel {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 1600px) {  
  .last_one {
    display: none;
  }

}

@media only screen and (max-width: 1200px) {  
  .last_two {
    display: none;
  }
}
  @media only screen and (max-width: 960px) {
    main {
      width: calc(100% - 200px);
      margin: 0 auto;
    }

    .last_three {
      display: none;
    }

    .hero_section {
      margin: 0;
      margin-top: 250px;
      padding: 0;
    }

    .container_movie {
      display: block;
    }

    .container_img_section {
      width: 200px;
    }
    .display_more {
      display: none;
    }
    #carousel {
      display: none;
    }
}